@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 11.1% 3.53%;
    --foreground: 0 0% 98%;

    --card: 210 11.1% 3.53%;
    --card-foreground: 0 0% 98%;

    --popover: 210 11.1% 3.53%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer components {
  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply items-center justify-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply items-center justify-center;
  }

  .space-between {
    @apply justify-between;
  }
}

html ::selection {
  @apply bg-foreground text-background;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    font-variant-numeric: slashed-zero;
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .select {
    --_g: rgb(var(--background)) 90deg, var(--select-border-color) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    --w: 12px;
    --select-border-color: rgb(var(--primary));
    --select-border-width: 2px;

    border: var(--select-border-width) solid #0000;
    outline: none;
  }

  .select:hover {
    background:
      conic-gradient(
          from 90deg at top var(--select-border-width) left var(--select-border-width),
          var(--_g)
        )
        0 0 / var(--_p),
      conic-gradient(
          from 180deg at top var(--select-border-width) right var(--select-border-width),
          var(--_g)
        )
        100% 0 / var(--_p),
      conic-gradient(
          from 0deg at bottom var(--select-border-width) left var(--select-border-width),
          var(--_g)
        )
        0 100% / var(--_p),
      conic-gradient(
          from -90deg at bottom var(--select-border-width) right var(--select-border-width),
          var(--_g)
        )
        100% 100% / var(--_p);
  }

  .ligatures-none {
    font-variant-ligatures: none;
  }

  .ligatures-common {
    font-variant-ligatures: common;
  }
  .ligatures-discretionary {
    font-variant-ligatures: discretionary;
  }
  .ligatures-historical {
    font-variant-ligatures: historical;
  }
  .ligatures-contextual {
    font-variant-ligatures: contextual;
  }

  .ligatures-no-common {
    font-variant-ligatures: no-common;
  }
  .ligatures-no-discretionary {
    font-variant-ligatures: no-discretionary;
  }
  .ligatures-no-historical {
    font-variant-ligatures: no-historical;
  }
  .ligatures-no-contextual {
    font-variant-ligatures: no-contextual;
  }

  .text-balance {
    text-wrap: balance;
  }
}

html {
  box-sizing: border-box;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}
