@import 'https://www.nerdfonts.com/assets/css/webfont.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-mono: 'geist-mono';

    --background: 28 28 28;

    --foreground: 238 238 238;
    --foreground-subtle: 118 118 118;
    --foreground-very-subtle: 38 38 38;

    --primary: 255 92 67;
    --primary-foreground: 34 34 34;

    --secondary: 170 170 170;
    --secondary-foreground: var(--primary);

    --popover: var(--gray-950);
    --popover-foreground: var(--primary);

    --card: var(--foreground);
    --card-foreground: var(--background);

    --border: var(--foreground);
    --input: var(--secondary);

    --ring: var(--primary);

    --radius: 0.5rem;
  }
}

@layer components {
  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply items-center justify-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply items-center justify-center;
  }

  .space-between {
    @apply justify-between;
  }
}

@font-face {
  font-family: abc;
  src: url(./fonts/ABCDiatypeVariable.woff2) format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: abc-v;
  src: url(./fonts/ABCDiatypeVariable.woff2) format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

html ::selection {
  @apply bg-foreground text-background;
}

@layer base {
  html {
    @apply size-full scroll-smooth;
  }

  * {
    @apply border-border;
  }

  body {
    font-variant-numeric: slashed-zero;
    @apply size-full flex-1 bg-background text-foreground vertical;
    text-rendering: optimizeLegibility;
    /* font-feature-settings: 'ss05'; */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .select {
    --_g: rgb(var(--background)) 90deg, var(--select-border-color) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    --w: 12px;
    --select-border-color: rgb(var(--primary));
    --select-border-width: 2px;

    border: var(--select-border-width) solid #0000;
    outline: none;
  }

  .select:hover {
    background:
      conic-gradient(
          from 90deg at top var(--select-border-width) left var(--select-border-width),
          var(--_g)
        )
        0 0 / var(--_p),
      conic-gradient(
          from 180deg at top var(--select-border-width) right var(--select-border-width),
          var(--_g)
        )
        100% 0 / var(--_p),
      conic-gradient(
          from 0deg at bottom var(--select-border-width) left var(--select-border-width),
          var(--_g)
        )
        0 100% / var(--_p),
      conic-gradient(
          from -90deg at bottom var(--select-border-width) right var(--select-border-width),
          var(--_g)
        )
        100% 100% / var(--_p);
  }

  .ligatures-none {
    font-variant-ligatures: none;
  }

  .ligatures-common {
    font-variant-ligatures: common;
  }
  .ligatures-discretionary {
    font-variant-ligatures: discretionary;
  }
  .ligatures-historical {
    font-variant-ligatures: historical;
  }
  .ligatures-contextual {
    font-variant-ligatures: contextual;
  }

  .ligatures-no-common {
    font-variant-ligatures: no-common;
  }
  .ligatures-no-discretionary {
    font-variant-ligatures: no-discretionary;
  }
  .ligatures-no-historical {
    font-variant-ligatures: no-historical;
  }
  .ligatures-no-contextual {
    font-variant-ligatures: no-contextual;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: geist-mono;
  src:
    url(/fonts/geist-mono-latin.woff2) format('woff2-variations'),
    url(/fonts/geist-mono-latin.woff) format('woff-variations'),
    url(/fonts/geist-mono-latin.otf) format('opentype-variations');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

html {
  box-sizing: border-box;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}

/* h1 {
  font-variation-settings: 'wght' 730;
  letter-spacing: -0.032em;
} */
